*{
	box-sizing: border-box;
	margin: 0px;
}



/* Layout */
/* ------------------------ */
body{
	background-color: #FFEF00; 
	font-family: Helvetica; 

}

/* Header */
/* ------------------------ */

.title {
	font-size: 32px;
	display: inline;
	font-weight: bolder;
	color: #000;
	padding-top: 40px;
	padding-bottom: 40px;
	text-transform: uppercase;
}



header {
		border-bottom: solid 3px #000000;
		padding-bottom: 20px;
		margin: 20px 40px;
}



/* Navigation */
/* ------------------------ */
.navigation {
	border-bottom: solid 3px #000000;
	padding-bottom: 20px;
	margin: 20px 40px;
}


.navigation ul{
	display: inline;
	margin-left: -40px;
}

.navigation li{
	display: inline;
}

a {
	font-weight: bolder;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	margin-right: 20px;	
}

/*Headers*/
h1 {
	font-size: 24px;
	margin-top: 0px;
}


h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: solid 1px #000000;
}

h3 {
	font-size: 16px;
	margin-top: 20px
}



/* formatting for about me  */
/* ------------------------ */
.aboutme-content {
	margin: 20px 40px;
	overflow: hidden;
}

.aboutme-content h1 {
	margin-bottom: 20px;
}

.aboutme-content ul {
	margin-top: 5px;
}

.aboutme-content p {
	margin-top: 20px;
} 

img {
	float: right; 
	overflow: hidden;
	border: solid 3px #000;
	margin-left: 40px;
}


/*resume layout*/

.resume-title {
	margin-left: 40px;
}

.resume-content {
	margin: 0px 40px;	
	display: flex;
}

.experience {
	flex:1;
}


.experience ul{
 	padding-left: 20px;
}


.education {
	margin-left: 40px;
	flex: 1;
}

.education ul{
	padding-left: 10px;
}

.education li{
	list-style: none;
	flex:1;
}

.skills {
	margin-left: 40px;
}


/*Resume styling*/
ul {
	margin-top: 5px;
}

li {
	list-style: square;
}

.role-format {
	color: #000;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
}

.date-format {
	color: #000;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;

}

/*footer*/
footer {
	border-top: solid 3px #000;
	padding-bottom: 20px;
	margin: 40px 40px;
}

.social-links {
			text-align: center;
			margin-top: 30px;
}

.social-links li{
	display: inline;
	list-style: none;
	margin: auto;

}



