*{
	box-sizing: border-box;
}



/* Layout */
/* ------------------------ */
body{
	background-color: #FFF; 
	font-family: Arial; 

}

/* Header */
/* ------------------------ */

.title {
	font-size: 32px;
	display: inline;
	margin-right: 10px;
	margin-left: 25px;
	font-weight: lighter;

}

header {
		border-bottom: solid 1px #999;
		padding: 15px 5px; 
}



/* Navigation */
/* ------------------------ */

header ul{
	display: inline;
	padding-left: 10px;
}

header li{
	display: inline;
}

a {
	font-weight: bolder;
	margin-left: 20px;
	color: #9013FE;
	text-decoration: none;
}


/* Main */
/* ------------------------ */

main {
	margin: 30px;
	overflow: hidden;

}

ul {
	margin-top: 5px;
}

li {
	list-style: square;
}

.role-format {
	color: #000;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
}

.date-format {
	color: #000;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;

}

.experience {
	display: inline;
	float: left;
	width: 66.666666%;
}

.experience ul{
 	padding-left: 20px;
}

h1 {
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
}


h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: #999;
	margin-top: 20px;
	margin-bottom: 10px;
}

h3 {
	font-size: 16px;
	margin-bottom: 0px
}

.skills {
	float:left;
	overflow: hidden;
	margin-left: 40px;
}

.education {
	overflow: hidden;
	width: 100%;
}

.education ul{
	padding-left: 10px;
}

.education li{
	list-style: none;
}

footer {
		border-top: solid 1px #999;
}

.social-links {
			text-align: center;
			margin-top: 30px;
}

.social-links li{
	display: inline;
	list-style: none;
	margin: auto;

}
