.page-container {
	font-family: arial;
	max-width: 800px;
	margin: auto;

}


.title{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 36px;
}

label {
	margin-bottom: 5px;
}


input {
	height: 36px;
	padding: 10px;
}

.task-name {
	width: 300px;
}

button{
	height: 36px;
	padding: 10px;
}

.entries {
	margin-top: 20px;
}

.task-entry{
	display: flex;
	background-color: #ccc;
	margin-top: 5px;
	height: 36px;
	align-items: center;
}

.task-entry li{
	margin-left: 20px;
}

.task-entry input {
	padding: 0px;
}