.page-container {
	font-family: arial;
	max-width: 800px;
	margin: auto;

}


.title{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 36px;
}

form {
	display: flex;
	align-items: flex-end;

}

.task-div{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	width: 50%;
}

.date-div{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}


label {
	margin-bottom: 5px;
}


input {
	height: 36px;
	padding: 10px;
}

.task-name {
	width: 100%;
}

button{
	height: 36px;
	padding: 10px;
}

.entries {
	margin-top: 20px;
}

.task-entry{
	display: flex;
	background-color: #ccc;
	margin-top: 5px;
	height: 36px;
	align-items: center;
}

.task-entry li{
	margin-left: 20px;
}

.task-entry input {
	padding: 0px;
}

.completed-task-entry{
	display: flex;
	background-color: #ccc;
	margin-top: 5px;
	height: 36px;
	align-items: center;

}

.completed-task-entry li{
	margin-left: 20px;
}

.completed-task-entry li:first-of-type + li{
	text-decoration: line-through;
}

.completed-task-entry li:first-of-type + li + li{
	color: #999;
}

.completed-task-entry input {
	padding: 0px;
}


/*Mobile styles*/
@media (max-width: 485px) {

	.page-container {
	font-family: arial;
	margin-left: 20px;
}

	.title{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 36px;
	}
		
	form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

    }

    .task-div{
	display: flex;
	flex-direction: column;
	width: 90%;
	}

	.date-div{
		display: flex;
		width: 90%;
		flex-direction: column;
		margin-top: 20px;
	}

	button{
		height: 36px;
		padding: 10px;
		width: 90%;
		margin-top: 20px;
	}

}
