.honeydew {
	background-color: honeydew;
}

.thistle {
		background-color: thistle;

}

.lightsalmon{
		background-color: lightsalmon;

}

.darkkhaki {
		background-color: darkkhaki;

}

.greenyellow {
		background-color: greenyellow;

}