body {
	background-color: #666;
	color: #fff;
}

h1 {
	color: #fff;
	margin-bottom: 20px;
}

.page-container {
	background-color: #999;
 	width: 400px;
 	margin: auto;
}


input {
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}

button {
	margin-top: 20px;
	padding: 10px;
	background-color: #ccc;
}