/*RESET*/
*{
	box-sizing: border-box;	
	margin:0;
}

/*headers and font styling*/


h1 {
	color: #B66848;
	font-family: Arial;
	font-weight: bolder; 
	margin-bottom: 5px;
}

h2 {
	color: #B66848;
	font-size: 16px;
	font-family: Arial;
	font-weight: bolder; 
	margin-bottom: 2px;
	margin-top: 20px;
}

.author {
	color: #93AC8F; 
	font-size: 14px;
	margin-bottom: 5px;
}


/*layout*/
main {
	display: flex;
}

.image {
		position: relative;
}

img {
	width: 100%;

}

.i-icon {
	position: relative;
	color: #fff;
	font-weight: bold;
	font-size: 16px; 	border: solid 1px #FFF;
	padding: 5px;
	height: 40px;
	width: 40px;
}

.i-icon p{
	position: absolute;
	text-align: center;
	margin-bottom: 0px;
}

.content {
	flex: 3;
	background-color: #F0F0D8;
	padding: 25px;
}

.sidebar {
	width: 300px;
	background-color: #F0D890;
	padding: 25px;
}

.prep-time {
	display: flex;
}

section {
	flex:1;
	text-align: center;
}

/*body text*/
li {
	font-family: Arial; 
	font-size: 14px;
}

p {
	font-family: Arial; 
	font-size: 14px;
	margin-bottom: 10px;
}

ul, ol {
	padding-left: 20px;
	margin-top: 0px;
}





