/*headers and font styling*/

body {

}

h1 {
	color: #B66848;
	font-family: Arial;
	font-weight: bold; 
}

h2 {
	color: #B66848;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold; 
	margin-bottom: 5px;
}




/*layout*/
main {
	display: flex;
}

img {
	width: 100%;
}

.content {
	flex: 3;
	background-color: #F0F0D8;
	padding: 25px;
}

.sidebar {
	width: 300px;
	background-color: #F0D890;
	padding: 25px;
}

.prep-time {
	display: flex;
}

section {
	flex:1;
	text-align: center;
}

/*body text*/
li {
	font-family: Arial; 
	font-size: 16px;
}

p {
	font-family: Arial; 
	font-size: 16px;
}

ul, ol {
	padding-left: 20px;
	margin-top: 0px;
}





